@page "/rentals/createrental"


@using AppForSEII2526.Web.API
@inject AppForMoviesAPIClient apiclient
@inject ILogger<CreateRental> logger
@inject RentalStateContainer rentalState

<h3>Create Rental</h3>

@* rental is the object that will be edited thanks to the form *@
<EditForm Model="rental" OnValidSubmit="OpenDialog">
    <div class="row">

        <div class="col-md">
            <div class="form-floating">
                @*this button will be used to ask the user if he want to proceed to rent the movies*@
                <button class="btn btn-primary" type="submit" id="Submit">
                    Rent your movies
                </button>
            </div>
        </div>
    </div>
</EditForm>


@code {



    private RentalForCreateDTO rental => rentalState.Rental;

    private void OpenDialog()
    {
        
    }
 }
