@page "/rental/selectmoviesforrental"

@using AppForSEII2526.Web.API
@inject AppForMoviesAPIClient apiclient
@inject ILogger<SelectMoviesForRental> logger
@inject RentalStateContainer rentalState

<h3>Select Movies For Rental</h3>
<div class="container-fluid">
    <div class="row" hidden="@hideErrors">
        <p>here i will show the errors</p>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Title</span>
                        <input type="text" id="inputTitle" @bind=movieTitle class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Genre</span>
                        <input type="text" id="inputGenre" @bind=movieGenre class="form-control" placeholder="Genre" aria-label="Genre" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text">From</span>
                        <InputDate @bind-Value="@From" id="fromDate" />
                    </div>
                </div>
                <div class="col">
                    <span class="input-group-text">To</span>
                    <InputDate id="toDate" @bind-Value="@To" />

                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" @onclick=@SearchMovies id="searchMovies">Search movies</button>
                </div>

            </div>
            <div class="row">
                @if (movies == null) {
                    <p>Loading movies....</p>
                }
                else
                {
                    <p>number of movies @movies.Count</p>
                
                }
            </div>
        </div>
        <div class="col-2">
            <p>here i will show the renting cart</p>
        </div>
        
    </div>

</div>

@code {
    private ICollection<MovieForRentalDTO> movies;
    private bool hideErrors { get { return errors.Length == 0; } }
    private string errors = "";
    private string movieTitle { get; set; }
    private string movieGenre { get; set; }
    private DateTime _from;
    private DateTime From {
        get { return _from; }
        set {
            if (_from != value) {
                //the rentingcart is cleared to ensure that only movies available for the selected period are selected
                _from = value;

            }
        }
    }

    private DateTime _to;
    private DateTime To {
        get { return _to; }
        set {
            if (_to != value) {
                //the rentingcart is cleared to ensure that only movies available for the selected period are selected
                _to = value;

            }
        }
    }
    private RentalForCreateDTO rental => rentalState.Rental;

    private bool hiddenRentingCart = true;

    private void AddMovie(MovieForRentalDTO movie) {
        rentalState.AddMovieToRental(movie);
    }

    private void RemoveRentalItem(RentalItemDTO item) {
        rentalState.RemoveRentalItemToRent(item);
        if (rental.RentalItems.Count == 0) hiddenRentingCart = true;
    }

    public async void SearchMovies() {
        try {
            movies = await apiclient.GetMoviesForRentingAsync(movieTitle, movieGenre,_from,_to);

        }
        catch (ApiException ex) {
            logger.LogError($"{DateTime.Now} Error: {ex}");
            errors = "Error while connecting to the system";
        }
        StateHasChanged();
    }

    protected override Task OnInitializedAsync() {
        //the type of RentalDateFrom is DateTimeOffset, it is required a conversion
        //https://learn.microsoft.com/es-es/dotnet/standard/datetime/converting-between-datetime-and-offset
        _from = (_from == new DateTime(1, 1, 1)) ?
            DateTime.SpecifyKind(DateTime.Today.AddDays(1), DateTimeKind.Utc)
            : _from;
        rental.RentalDateFrom = _from;

        //the type of RentalDateFrom is DateTimeOffset, it is required a conversion
        //https://learn.microsoft.com/es-es/dotnet/standard/datetime/converting-between-datetime-and-offset
        _to = (_to == new DateTime(1, 1, 1)) ?
            DateTime.SpecifyKind(DateTime.Today.AddDays(2), DateTimeKind.Utc)
            : _to;
        rental.RentalDateTo = _to;

        SearchMovies();

        return base.OnInitializedAsync();
    }

}
